<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.home') }}">{{ current_user.email }}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if current_user.confirmed and current_user.is_authenticated() %}
          <li><a href="{{ url_for('user.profile', username=current_user.username) }}">Profile</a></li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="{{ url_for('user.academic_record', human_id=current_user.id) }}">Academic Record<b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a href="{{ url_for('user.education_list', human_id=current_user.id) }}">Education</a></li>
            <li><a href="{{ url_for('user.patent_list', human_id=current_user.id) }}">Patents</a></li>
            <li><a href="{{ url_for('user.publication_list', human_id=current_user.id) }}">Publications</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('user.employment_list', human_id=current_user.id) }}">Employment History</a></li>

          <link href="{{url_for('static', filename='bootstrap-editable.css')}}" rel="stylesheet" media="screen">
          <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
          <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
          <script src="{{url_for('static', filename='bootstrap-editable.js')}}" type="text/javascript"></script>

        {% elif current_user.is_authenticated() %}
          <li><a href="{{ url_for('user.unconfirmed') }}">Confirm</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
          <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('user.register') }}">Sign up</a></li>
          <li><a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;Login</a></li>
        {% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>