<!-- extend base layout -->
{% extends "_base.html" %}

{% block content %}

<td><h2>Employment History</h2></td><br>
<td><h3>User:  {{ username }}</h3></td><br>
<td><h3>Email: {{ email }}</h3></td><br>

{% for e in emp %}
<span>
<td>
    Employer:  <a
        href="#"
        id="employer"
        data-type="text"
        data-url="/user_edit_employer/{{ emp['id'] }}"
        data-pk="{{ emp['id'] }}"
        data-title="update employer">{{ e['employer'] }}
    </a>
</td><br>
</span>
{% endfor %}

<br><br>

<p><a href="/user/addemployment/{{ human_id }}"</a>Add new employment details</p>

<script>
        $('#employer').editable({
            placement: "right",
            error: function (errors) {
            }
        });
</script>

{% endblock %}
