<!-- extend base layout -->
{% extends "_base.html" %}

{% block content %}

<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>About me goes here</td>
    </tr>
</table>

<td><h2>{{ user.username }}</h2></td><br>
<td>Email: {{ user.email }}</td><br>

<form role="form"  action="">
{{ form.hidden_tag() }}
<td>
    First Name:  <a
        href="#"
        id="firstname"
        data-type="text"
        data-url="/user_edit_firstname"
        data-pk="{{user.email}}"
        data-title="update first name">{{ user.firstname }}
    </a>
</td><br>

<td>
    Last Name:  <a
        href="#"
        id="surname"
        data-type="text"
        data-url="/user_edit_lasttname"
        data-pk="{{user.email}}"
        data-title="update last name">{{ user.surname }}
    </a>
</td><br>

<td>
    Date of Birth:  <a
        href="#"
        id="birthdate"
        data-type="text"
        data-url="/user_edit_dob"
        data-pk="{{user.email}}"
        data-title="update date of birth">{{ user.birthdate }}
    </a>
</td><br>


<td>
    Gender
    <a href="#"
       id="gender"
       data-type="text"
       data-url="/user_edit_gender"
       data-pk="{{user.email}}"
       data-title="Gender">{{ user.gender_selection }}
    </a>
</td><br>
</form>


<script>
    $('#firstname').editable({
        placement: "right",
        error: function (errors) {
        }
    });
    $('#surname').editable({
        placement: "right",
        error: function (errors) {
        }
    });
    $('#birthdate').editable({
        placement: "right",
        error: function (errors) {
        }
    });
    $('#gender').editable({
        placement: "right",
        error: function (errors) {
        }
    });
</script>


{% endblock %}
